@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");

html {
  background-color: #733b8f;
}

a {
  color: #ffffff;
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #733b8f;
  text-align: center;
  font-family: "Roboto Slab", serif;
}
