@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 1rem;
  background-color: #733b8f;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  text-align: center;
  padding: 0 1rem;
  color: aliceblue;
  background-color: #5e2c77;
  width: 100%;
  border-radius: 10px;
}

.navButton {
  background-color: #5e2c77;
  color: aliceblue;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navButton:hover {
  background-color: #ffffff;
  color: #5e2c77;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 1rem;
  background-color: #ffffff;
  color: #733b8f;
  width: 90%;
  margin-top: 2%;
  border-radius: 10px;
  padding: 2%;
  flex-wrap: wrap;
}

.homePageContentBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 0 1rem;
  border-radius: 10px;
  width: 100%;
}

.homePageOrganizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  text-align: center;
}

.underlineText {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 15px;
}

.homePageTitle {
  text-align: center;
  padding: 0 1rem;
  width: 100%;
}

.homePageText {
  font-size: 0.9rem;
  text-align: center;
  padding: 0 1rem;
  width: 100%;
  margin-top: -1%;
}

.homePageListContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 0 1rem;
  border-radius: 10px;
  width: 100%;
  margin-top: -1%;
  flex-wrap: wrap;
}

.homePageList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homePhone {
  margin-bottom: -4%;
}

.homeEmail {
  margin-bottom: -4%;
}

.homeInfoBox {
  background-color: #733b8f;
  color: aliceblue;
  padding: 1%;
  border-radius: 10px;
}

.homePageContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 0 1rem;
  border-radius: 10px;
  width: 100%;
}

.contactInput {
  width: 30%;
  height: 3vh;
  margin-bottom: 2%;
  border-radius: 10px;
}

.contactTextArea {
  width: 30%;
  height: 10vh;
  margin-bottom: 2%;
  max-width: 30%;
  max-height: 30vh;
  min-height: 10vh;
  border-radius: 10px;
}

.contactButton {
  background-color: #5e2c77;
  color: aliceblue;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 20%;
}

.mailPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: #ffffff;
  color: #733b8f;
  width: 90%;
  margin-top: 2%;
  border-radius: 10px;
  padding: 2%;
  flex-wrap: wrap;
}

.mailPageContentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 0 1rem;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

.mailPageContentBox2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 0 1rem;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.mailPageList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mailChooseList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1%;
}

.mailPageList {
  list-style: none;
  margin-left: -19%;
}

.fedex {
  width: 150%;
}

.ups {
  width: 35%;
}

.usps {
  width: 150%;
}

.dhl {
  width: 80%;
  margin-left: 50%;
}

.mailPageServicesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 0 1rem;
  border-radius: 10px;
  width: 100%;
  margin-top: -1%;
  flex-wrap: wrap;
  margin-left: -2%;
}

.mailPageServicesContainer > div {
  flex-basis: 20%; /* Adjust the percentage as needed */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  text-align: center;
  background-color: #5e2c77;
  color: #ffffff;
  border-radius: 10px;
  padding: 3%;
}

.mailSupplies {
  width: 90%;
  box-shadow: 0 0 0px 10px rgb(124, 55, 144);
  border-radius: 50%;
}

.logoSubtext {
  -webkit-text-stroke: 1px #000000;
}

@media screen and (max-width: 768px) {
  .homePageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
    background-color: #ffffff;
    color: #733b8f;
    width: 90%;
    margin-top: 2%;
    border-radius: 10px;
    padding: 2%;
  }
  .homePageContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.1rem;
    text-align: center;
    padding: 0 1rem;
    border-radius: 10px;
    width: 90%;
  }
  .homePageOrganizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.1rem;
    text-align: center;
  }
  .homePageTitle {
    text-align: center;
    padding: 0 1rem;
    width: 100%;
  }
  .homePageText {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 1rem;
    width: 100%;
    margin-top: -1%;
  }
  .homePageListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.1rem;
    text-align: center;
    padding: 0 1rem;
    border-radius: 10px;
    width: 90%;
    margin-top: -1%;
  }
  .homePageList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .homePhone {
    margin-bottom: -4%;
  }
  .homeEmail {
    margin-bottom: -4%;
    font-size: 1rem;
  }
  .homeInfoBox {
    background-color: #733b8f;
    padding: 3%;
  }

  .underlineText {
    text-decoration: none;
  }

  .logo {
    width: 100%;
  }

  .logoSubtext {
    -webkit-text-stroke: 1px #000000;
    font-size: 1.5rem;
  }

  .homePageContactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.1rem;
    text-align: center;
    padding: 0 1rem;
    border-radius: 10px;
    width: 100%;
  }

  .contactInput {
    width: 50%;
    height: 3vh;
    margin-bottom: 2%;
    border-radius: 10px;
  }

  .contactTextArea {
    width: 65%;
    height: 10vh;
    margin-bottom: 2%;
    max-width: 70%;
    max-height: 30vh;
    min-height: 10vh;
    border-radius: 10px;
  }

  .mailPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    text-align: center;
    background-color: #ffffff;
    color: #733b8f;
    width: 90%;
    margin-top: 2%;
    border-radius: 10px;
    padding: 2%;
    flex-wrap: wrap;
  }

  .mailPageContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    margin-left: -3%;
  }

  .mailPageContentBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-left: -3%;
  }

  .mailChooseList {
    list-style: none;
    margin-left: -5%;
  }

  .mailPageListContainer {
    margin-left: -7%;
  }

  .mailPageServicesContainer > div {
    flex-basis: 50%; /* Adjust the percentage as needed */
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-size: 1.1rem;
    text-align: center;
    background-color: #5e2c77;
    color: #ffffff;
    border-radius: 10px;
    padding: 3%;
  }
}
